pandas
numpy
matplotlib
requests
seaborn
plotly
pandas-profiling
sweetviz
scikit-learn==1.3.2
category-encoders 
catboost
lightgbm
xgboost
optuna
scipy
imbalanced-learn
streamlit
streamlit-lottie
streamlit-option-menu
streamlit-authenticator
openpyxl
pypandoc
yamllint
pylint
passlib
bcrypt
xlsxwriter
gitpython
pillow
PyYAML